
:host {
    display: flex;
    flex-direction: column;
}

.title {
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 5px;
}

.message {
	position: relative;
	background: white;
    border-radius: 40px;
	max-width: 70%;
    margin: 10px;
    min-height: 30px;
	padding: 5px 25px;
	color: #817979;
	display: flex;
	align-items: center;
}


.bot-message .message-image {
	background-image: url('../../../assets/face.jpg');
}

.user-message .message-image {
	background-color: white;
	background-image: url('../../../assets/random.png');
}


.message-image {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bot-message {
	.message-image {
		margin-left: 10px;
	}
}

.user-message {
	justify-content: flex-end;
	.message {
		order: -1;
	}
	.message-image {
		margin-right: 10px;
	}
}

.message-wrapper {
	display: flex;
	align-items: center;
}
