<div class="chat-container">
	<div class="chat-header">
		<div class="chat-image"></div>
		<span>Talk with me !</span>
	</div>

	<div #scrollable class="message-container">
		<app-message 
					 *ngFor="let message of (messages | async)"
					 [Type]="message.sentBy"
					 [Message]="message.content">

		</app-message>
	</div>
	
	<div class="input-container">
		<input #box name="chat" class="input-text" (keyup.enter)="onEnter(box.value)" />
		<button class="send-button"
				(click)=onEnter(box.value)>
				<fa name="paper-plane"></fa>
		</button>
	</div>

	<!-- <button (click)="onClick()">CLICK</button> -->
	

</div>